<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>P1name:</b>
  <%=h @team.p1name %>
</p>

<p>
  <b>P1team:</b>
  <%=h @team.p1team %>
</p>

<p>
  <b>P2name:</b>
  <%=h @team.p2name %>
</p>

<p>
  <b>P2team:</b>
  <%=h @team.p2team %>
</p>

<p>
  <b>P3name:</b>
  <%=h @team.p3name %>
</p>

<p>
  <b>P3team:</b>
  <%=h @team.p3team %>
</p>

<p>
  <b>P4name:</b>
  <%=h @team.p4name %>
</p>

<p>
  <b>P4team:</b>
  <%=h @team.p4team %>
</p>

<p>
  <b>P5name:</b>
  <%=h @team.p5name %>
</p>

<p>
  <b>P5team:</b>
  <%=h @team.p5team %>
</p>

<p>
  <b>P6name:</b>
  <%=h @team.p6name %>
</p>

<p>
  <b>P6team:</b>
  <%=h @team.p6team %>
</p>

<p>
  <b>P7name:</b>
  <%=h @team.p7name %>
</p>

<p>
  <b>P7team:</b>
  <%=h @team.p7team %>
</p>

<p>
  <b>P8name:</b>
  <%=h @team.p8name %>
</p>

<p>
  <b>P8team:</b>
  <%=h @team.p8team %>
</p>

<p>
  <b>P9name:</b>
  <%=h @team.p9name %>
</p>

<p>
  <b>P9team:</b>
  <%=h @team.p9team %>
</p>

<p>
  <b>P10name:</b>
  <%=h @team.p10name %>
</p>

<p>
  <b>P10team:</b>
  <%=h @team.p10team %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>