<h1>Listing final_boxes</h1>

<%= "There are #{@final_boxes.size}" %>
<table>
  <tr>
    <th>Boxid</th>
  </tr>

<% @final_boxes.each do |final_box| %>
  <tr>
    <td><%=h final_box.boxid %></td>
    <td><%= link_to 'Show', final_box %></td>
    <td><%= link_to 'Edit', edit_final_box_path(final_box) %></td>
    <td><%= link_to 'Destroy', final_box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New final_box', new_final_box_path %>
